.title-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.breadcrub{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    padding-left: 8px;
    .title{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        
        line-height:1.5em;  
    
        font-size: x-large;
        font-weight: 500;
    }
    .sub-title{
        font-size: large;
    }
}
