$media-breakpoint-xs: 0;
$media-breakpoint-sm: 576px;
$media-breakpoint-md: 768px;
$media-breakpoint-lg: 992px;
$media-breakpoint-xl: 1200px;
$media-breakpoint-xxl: 1400px;

$themes: (
  light: (
    primary: #1A9691,
    secondary: #9EA3A6,      
    primary-text: #111C2D,
    secondary-text: #7C8FAC,
    white-text: #FFFFFF,
    background-body: #f0f5f9,
    background-card:#FFFFFF,    
    border-card:transparent,
    border-card-thumbnail:6px solid #FFFFFF,
    box-shadow-card: transparent,    
    transparent: transparent,
  ),
  dark: (
    primary: #1A9691,
    secondary: #9EA3A6,
    primary-text: #EAEFF4,
    secondary-text: #c6d1e9,    
    white-text: #FFFFFF,
    background-body: #15263a,
    background-card:#111c2d,
    border-card:transparent,
    border-card-thumbnail:6px solid #111c2d,
    box-shadow-card: transparent,    
    transparent: transparent,
  )
);
