@mixin theme($theme) {
    background-color: map-get($theme, background-body);
    color: map-get($theme, primary-text);

    a {
        color: map-get($theme, primary);
    }
      
    .mat-toolbar-single-row{
        background-color: map-get($theme, background-card);
        box-shadow: map-get($theme, box-shadow-card);
        border: map-get($theme, border-card);
    }

    .section-title{
        background-color: map-get($theme, background-card);
        color: map-get($theme, primary-text);
    }

    .card-ui{
        background-color: map-get($theme, background-card);
        .card-ui-thumbnail{
            border: map-get($theme, border-card-thumbnail);
        }
    }

  }
  