/* You can add global styles to this file, and also import other style files */
// @import '~@angular/material/prebuilt-themes/indigo-pink.css'; 
@import "fonts";
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import 'themes';

html, body { height: 100%; }
body { 
  padding: 24px;
}

@media (max-width: 768px) {
  body { 
    padding: 8px;
  }
}