.spinner-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.spinner {
  width: 120px;
  height: 120px;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../../../assets/img/logo-light.svg");
  opacity: 0;
  -webkit-animation: logoAppear 0.3s ease-in-out forwards, fadeInOut 1s infinite;
  animation: logoAppear 0.3s ease-in-out forwards, fadeInOut 1s infinite;
}

/* Efecto de aparición progresiva con difuminado */
@keyframes logoAppear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}


@-webkit-keyframes fadeInOut {
  0% {
    opacity: 1;
    filter: blur(1px);
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    filter: blur(5px);
    transform: scale(1);
  }
  100% {
    opacity: 1;
    filter: blur(1px);
    transform: scale(0.8);
  }
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 1;
    filter: blur(1px);
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    filter: blur(5px);
    transform: scale(1);
  }
  100% {
    opacity: 1;
    filter: blur(1px);
    transform: scale(0.8);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
    filter: blur(1px);
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    filter: blur(5px);
    transform: scale(1);
  }
  100% {
    opacity: 1;
    filter: blur(1px);
    transform: scale(0.8);
  }
}