<mat-card class="cardElement shadow-card" (click)="onAppSelected()">
    <mat-card-header class="wrapper-title">
        <div mat-card-avatar class="card-header-image" [ngStyle]="{'background-image':'url('+app.imgLogoPath+')'}"></div>
        <mat-card-title class="wrapper-title-overflow">{{app.title}}</mat-card-title>
        <mat-card-subtitle class="wrapper-title-overflow">{{app.subtitle | titlecase}}</mat-card-subtitle>
    </mat-card-header>
    <div class="content-image">
        <img mat-card-image [src]="app.imgPath" [alt]="app.title">
    </div>    
    <mat-card-content class="wrapper">
        <p class="wrapper-overflow">
            {{app.description}}
        </p>
    </mat-card-content>
</mat-card>