<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
    </button>
    <div class="navbarLeft">
        <svg-logo class="svg-logo-icon"></svg-logo>
        <h1>TECAPPSYS</h1>
    </div>
    <span class="navbar-spacer"></span>
    <mat-slide-toggle #darkModeSwitch [formControl]="toggleControl">Dark Mode</mat-slide-toggle>
</mat-toolbar>

<mat-sidenav-container class="main-container">
    <div class="app-container">
        <mat-card *ngFor="let app of apps" class="cardElements">
            <mat-card-header>
                <div mat-card-avatar class="card-header-image" [ngStyle]="{'background-image':'url(' + app.imgPath + ')'}"></div>
                <mat-card-title>{{app.title}}</mat-card-title>
                <mat-card-subtitle>{{app.subtitle}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="app.imgPath" [alt]="app.subtitle">
            <mat-card-content>
              <p>
               {{app.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="navigateToApps(app.href)">VIEW</button>
            </mat-card-actions>
          </mat-card>
    </div>
    
</mat-sidenav-container>

