<div class="navbar">
    <div class="navbarLeft">
        <p-button *ngIf="isOpenMenu" icon="pi pi-times" (click)="isOpenMenu = !isOpenMenu" [text]="true" [rounded]="true" severity="secondary"></p-button>
        <p-button *ngIf="!isOpenMenu" icon="pi pi-bars" (click)="isOpenMenu = !isOpenMenu" [text]="true" [rounded]="true" severity="secondary"></p-button>
        <svg-logo class="svg-logo-icon"></svg-logo>
        <h1>TECAPPSYS</h1>
    </div>
    <div class="navbarRight">
        <p-button icon="pi pi-sun" (click)="onChangeThemeLight()" [rounded]="true" [outlined]="!isNightMode" size="small" severity="secondary"></p-button>
        <p-button icon="pi pi-moon" (click)="onChangeThemeNight()" [rounded]="true" [outlined]="isNightMode" size="small" severity="secondary"></p-button>
    </div>
</div>

<div class="mainBody">
    <p-card class="cardElements" header="React" subheader="aplicaciones en react">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../assets/img/react_app.jpg" />
        </ng-template>
        <p>
            Diferentes aplicaciones desarrolladas con el framework de reactjs
        </p>
        <ng-template pTemplate="footer">
            <p-button (click)="navigateToReactApps()" label="Ver" icon="pi pi-check"></p-button>
        </ng-template>
    </p-card>
    <p-card class="cardElements" header="Angular" subheader="aplicaciones en angular">
        <ng-template pTemplate="header">
            <img alt="Card" src="/../../assets/img/angular_app.jpg" />
        </ng-template>
        <p>
            Diferentes aplicaciones desarrolladas con el framework de angularjs
        </p>
        <ng-template pTemplate="footer">
            <p-button (click)="navigateToAngularApps()" label="Ver" icon="pi pi-check"></p-button>
        </ng-template>
    </p-card>
</div>
