<tecappsys-spinner></tecappsys-spinner>

<div class="container-menu">
  <tecappsys-sidebar [isDarkTheme]="isDarkTheme"></tecappsys-sidebar>
</div>

<div class="container-content">
  <div class="container custom-container">
    <div>
      <tecappsys-navbar (changeIsDarkTheme)="onChangeIsDarkTheme($event)" [isDarkTheme]="isDarkTheme"></tecappsys-navbar>
  
      <tecappsys-toolbar></tecappsys-toolbar> 
      
      <section class="section-router-outlet">
        <router-outlet></router-outlet> 
      </section> 
    </div>
     
  </div>
</div>
