.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 16px;
}

.navbarLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    h1{
        margin: 0;
    }
}

.mainBody{
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
}
.cardElements {
    flex: 1 0 21%; /* explanation below */
    margin: 8px;
    max-width:360px;
}
.svg-logo-icon{
    height: 47.7px;
}
::ng-deep{
    .p-card-header{
        border-radius: 6px 6px 0 0;
        img{
            border-radius: 6px 6px 0 0;
        }
    }
    .p-card-footer{
        display: flex;
        justify-content: flex-end;
    }
}
